.auth_confirm {
    background-color: #0070af;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .auth_confirm .div {
    background-color: #0070af;
    border: 1px none;
    height: 982px;
    position: relative;
    width: 1512px;
  }
  
  .auth_confirm .overlap-group {
    background-color: #f2fbfe;
    border-radius: 20px;
    height: 500px;
    left: 201px;
    position: absolute;
    top: 226px;
    width: 1110px;
  }
  
  .auth_confirm .line {
    height: 420px;
    left: 555px;
    object-fit: cover;
    position: absolute;
    top: 41px;
    width: 1px;
  }
  
  .auth_confirm .overlap {
    background-image: url(./rectangle-2.svg);
    background-size: 100% 100%;
    height: 68px;
    left: 74px;
    position: absolute;
    top: 269px;
    width: 409px;
  }
  
  .auth_confirm .text-wrapper {
    color: #ffffff;
    font-family: "Asap-SemiBold", Helvetica;
    font-size: 21px;
    font-weight: 600;
    left: 171px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 21px;
    white-space: nowrap;
  }
  
  .auth_confirm .text-wrapper-2 {
    color: #000000;
    font-family: "Asap-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    left: 195px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 413px;
    white-space: nowrap;
  }
  
  .auth_confirm .img {
    height: 1px;
    left: 85px;
    object-fit: cover;
    position: absolute;
    top: 376px;
    width: 389px;
  }
  
  .auth_confirm .text-wrapper-3 {
    color: #05347a;
    font-family: "Asap-Medium", Helvetica;
    font-size: 18px;
    font-weight: 500;
    left: 164px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 40px;
    white-space: nowrap;
  }
  
  .auth_confirm .burgan-bank-nternet {
    color: #1b4961;
    font-family: "Asap-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 625px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 105px;
    width: 415px;
  }
  
  .auth_confirm .span {
    color: #1b4961;
    font-family: "Asap-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
  }
  
  .auth_confirm .text-wrapper-4 {
    font-family: "Asap-Italic", Helvetica;
    font-style: italic;
    text-decoration: underline;
  }
  
  .auth_confirm .text-wrapper-5 {
    color: #000000;
    font-family: "Asap-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 648px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 43px;
    white-space: nowrap;
  }
  
  .auth_confirm .vuesax-bold-security {
    height: 24px !important;
    left: 615px !important;
    position: absolute !important;
    top: 41px !important;
    width: 24px !important;
  }
  
  .auth_confirm .overlap-2 {
    height: 83px;
    left: 73px;
    position: absolute;
    top: 173px;
    width: 156px;
  }
  
  .auth_confirm .rectangle {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #e5e5e5;
    border-radius: 16px;
    height: 74px;
    left: 0;
    position: absolute;
    top: 9px;
    width: 156px;
  }
  
  .auth_confirm .rectangle-2 {
    background-color: #ffffff;
    height: 8px;
    left: 42px;
    position: absolute;
    top: 7px;
    width: 72px;
  }
  
  .auth_confirm .element-karakter {
    color: #000000;
    font-family: "Asap-Bold", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 47px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 63px;
  }
  
  .auth_confirm .text-wrapper-6 {
    font-weight: 700;
  }
  
  .auth_confirm .text-wrapper-7 {
    font-family: "Asap-Regular", Helvetica;
  }
  
  .auth_confirm .overlap-3 {
    height: 83px;
    left: 249px;
    position: absolute;
    top: 173px;
    width: 156px;
  }
  
  .auth_confirm .text-wrapper-8 {
    color: #0069aa;
    font-family: "Asap-Bold", Helvetica;
    font-size: 16px;
    font-weight: 700;
    left: 75px;
    letter-spacing: 1px;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 96px;
    white-space: nowrap;
  }
  
  .auth_confirm .p {
    color: #000000;
    font-family: "Asap-Medium", Helvetica;
    font-size: 14px;
    font-weight: 500;
    left: 74px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 123px;
    white-space: nowrap;
    width: 390px;
  }
  
  .auth_confirm .footer {
    background-color: transparent;
    height: 45px;
    left: 220px;
    position: absolute;
    top: 737px;
    width: 1081px;
  }
  
  .auth_confirm .h-1 {
    color: #ffffff;
    font-family: "Montserrat-Medium", Helvetica;
    font-size: 24px;
    font-weight: 500;
    left: 894px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .auth_confirm .text-wrapper-9 {
    color: #ffffff;
    font-family: "Montserrat-MediumItalic", Helvetica;
    font-size: 12px;
    font-style: italic;
    font-weight: 500;
    left: 948px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 30px;
  }
  
  .auth_confirm .text-wrapper-10 {
    color: #ffffff;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-size: 14px;
    font-weight: 600;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 6px;
  }
  
  .auth_confirm .text-wrapper-11 {
    color: #ffffff;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-size: 14px;
    font-weight: 600;
    left: 113px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 6px;
  }
  
  .auth_confirm .line-2 {
    height: 20px;
    left: 93px;
    object-fit: cover;
    position: absolute;
    top: 5px;
    width: 1px;
  }
  
  .auth_confirm .header {
    background-color: transparent;
    height: 63px;
    left: 214px;
    position: absolute;
    top: 157px;
    width: 1085px;
  }
  
  .auth_confirm .text-wrapper-12 {
    color: #ffffff;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-size: 13px;
    font-weight: 600;
    left: 1037px;
    letter-spacing: -0.65px;
    line-height: normal;
    position: absolute;
    top: 47px;
  }
  
  .auth_confirm .group {
    height: 49px;
    left: 0;
    position: absolute;
    top: 0;
    width: 144px;
  }
  