.macbook-pro {
    background-color: #0070af;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .macbook-pro .div {
    background-color: #0070af;
    border: 1px none;
    height: 982px;
    position: relative;
    width: 1512px;
  }
  
  .macbook-pro .overlap-group {
    background-color: #f2fbfe;
    border-radius: 20px;
    height: 500px;
    left: 201px;
    position: absolute;
    top: 226px;
    width: 1110px;
  }
  
  .macbook-pro .overlap {
    background-image: url(./rectangle-2.svg);
    background-size: 100% 100%;
    height: 68px;
    left: 351px;
    position: absolute;
    top: 364px;
    width: 409px;
  }
  
  .macbook-pro .text-wrapper {
    color: #ffffff;
    font-family: "Asap-SemiBold", Helvetica;
    font-size: 21px;
    font-weight: 600;
    left: 171px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 21px;
    white-space: nowrap;
  }
  
  .macbook-pro .overlap-2 {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #e3e3e3;
    border-radius: 16px;
    height: 76px;
    left: 350px;
    position: absolute;
    top: 190px;
    width: 411px;
  }
  
  .macbook-pro .text-wrapper-2 {
    color: #a0a0a0;
    font-family: "Asap-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    left: 77px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 26px;
    white-space: nowrap;
    width: 212px;
  }
  
  .macbook-pro .line {
    height: 40px;
    left: 55px;
    object-fit: cover;
    position: absolute;
    top: 17px;
    width: 1px;
  }
  
  .macbook-pro .vuesax-bold-lock {
    height: 24px !important;
    left: 17px !important;
    position: absolute !important;
    top: 24px !important;
    width: 24px !important;
  }
  
  .macbook-pro .overlap-3 {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #e3e3e3;
    border-radius: 16px;
    height: 76px;
    left: 350px;
    position: absolute;
    top: 277px;
    width: 411px;
  }
  
  .macbook-pro .lock-instance {
    height: 24px !important;
    left: 17px !important;
    position: absolute !important;
    top: 23px !important;
    width: 24px !important;
  }
  
  .macbook-pro .text-wrapper-3 {
    color: #05347a;
    font-family: "Asap-Medium", Helvetica;
    font-size: 18px;
    font-weight: 500;
    left: 487px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 40px;
    white-space: nowrap;
  }
  
  .macbook-pro .navbar {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 3px;
    height: 16px;
    left: 370px;
    position: absolute;
    top: 101px;
    width: 330px;
  }
  
  .macbook-pro .text {
    color: #1b4961;
    font-family: "Asap-Medium", Helvetica;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    white-space: nowrap;
    width: 330px;
  }
  
  .macbook-pro .span {
    color: #1b4961;
    font-family: "Asap-Medium", Helvetica;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
  }
  
  .macbook-pro .span-wrapper {
    color: #1b4961;
    font-family: "Asap-Medium", Helvetica;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: -17px;
    position: relative;
    width: 330px;
  }
  
  .macbook-pro .ellipse {
    background-color: #000000;
    border-radius: 3px;
    height: 6px;
    left: 358px;
    position: absolute;
    top: 108px;
    width: 6px;
  }
  
  .macbook-pro .ellipse-2 {
    background-color: #000000;
    border-radius: 3px;
    height: 6px;
    left: 358px;
    position: absolute;
    top: 127px;
    width: 6px;
  }
  
  .macbook-pro .ellipse-3 {
    background-color: #000000;
    border-radius: 3px;
    height: 6px;
    left: 358px;
    position: absolute;
    top: 145px;
    width: 6px;
  }
  
  .macbook-pro .ellipse-4 {
    background-color: #000000;
    border-radius: 3px;
    height: 6px;
    left: 358px;
    position: absolute;
    top: 164px;
    width: 6px;
  }
  
  .macbook-pro .footer {
    background-color: transparent;
    height: 45px;
    left: 220px;
    position: absolute;
    top: 737px;
    width: 1081px;
  }
  
  .macbook-pro .h-1 {
    color: #ffffff;
    font-family: "Montserrat-Medium", Helvetica;
    font-size: 24px;
    font-weight: 500;
    left: 894px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .macbook-pro .text-wrapper-4 {
    color: #ffffff;
    font-family: "Montserrat-MediumItalic", Helvetica;
    font-size: 12px;
    font-style: italic;
    font-weight: 500;
    left: 948px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 30px;
  }
  
  .macbook-pro .text-wrapper-5 {
    color: #ffffff;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-size: 14px;
    font-weight: 600;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 6px;
  }
  
  .macbook-pro .text-wrapper-6 {
    color: #ffffff;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-size: 14px;
    font-weight: 600;
    left: 113px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 6px;
  }
  
  .macbook-pro .img {
    height: 20px;
    left: 93px;
    object-fit: cover;
    position: absolute;
    top: 5px;
    width: 1px;
  }
  
  .macbook-pro .header {
    background-color: transparent;
    height: 63px;
    left: 214px;
    position: absolute;
    top: 157px;
    width: 1085px;
  }
  
  .macbook-pro .text-wrapper-7 {
    color: #ffffff;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-size: 13px;
    font-weight: 600;
    left: 1037px;
    letter-spacing: -0.65px;
    line-height: normal;
    position: absolute;
    top: 47px;
  }
  
  .macbook-pro .group {
    height: 49px;
    left: 0;
    position: absolute;
    top: 0;
    width: 144px;
  }
  