.notification {
    background-color: #0070af;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .notification .div {
    background-color: #0070af;
    border: 1px none;
    height: 982px;
    position: relative;
    width: 1512px;
  }
  
  .notification .overlap-group {
    background-color: #f2fbfe;
    border-radius: 20px;
    height: 500px;
    left: 201px;
    position: absolute;
    top: 226px;
    width: 1110px;
  }
  
  .notification .line {
    height: 420px;
    left: 555px;
    object-fit: cover;
    position: absolute;
    top: 41px;
    width: 1px;
  }
  
  .notification .text-wrapper {
    color: #05347a;
    font-family: "Asap-Medium", Helvetica;
    font-size: 18px;
    font-weight: 500;
    left: 163px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 40px;
    white-space: nowrap;
  }
  
  .notification .burgan-mobil {
    color: #2a2929;
    font-family: "Asap-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 74px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 108px;
    width: 408px;
  }
  
  .notification .span {
    color: #2a2929;
    font-family: "Asap-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
  }
  
  .notification .text-wrapper-2 {
    font-family: "Asap-Bold", Helvetica;
    font-weight: 700;
  }
  
  .notification .ww {
    height: 390px;
    left: 683px;
    object-fit: cover;
    position: absolute;
    top: 45px;
    width: 284px;
  }
  
  .notification .overlap {
    background-image: url(./rectangle-2.svg);
    background-size: 100% 100%;
    height: 68px;
    left: 74px;
    position: absolute;
    top: 286px;
    width: 409px;
  }
  
  .notification .text-wrapper-3 {
    color: #ffffff;
    font-family: "Asap-SemiBold", Helvetica;
    font-size: 21px;
    font-weight: 600;
    left: 118px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 21px;
    white-space: nowrap;
  }
  
  .notification .div-wrapper {
    background-image: url(./rectangle-3.svg);
    background-size: 100% 100%;
    height: 68px;
    left: 74px;
    position: absolute;
    top: 364px;
    width: 409px;
  }
  
  .notification .text-wrapper-4 {
    color: #ffffff;
    font-family: "Asap-SemiBold", Helvetica;
    font-size: 21px;
    font-weight: 600;
    left: 141px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 21px;
    white-space: nowrap;
  }
  
  .notification .footer {
    background-color: transparent;
    height: 45px;
    left: 220px;
    position: absolute;
    top: 737px;
    width: 1081px;
  }
  
  .notification .h-1 {
    color: #ffffff;
    font-family: "Montserrat-Medium", Helvetica;
    font-size: 24px;
    font-weight: 500;
    left: 894px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .notification .text-wrapper-5 {
    color: #ffffff;
    font-family: "Montserrat-MediumItalic", Helvetica;
    font-size: 12px;
    font-style: italic;
    font-weight: 500;
    left: 948px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 30px;
  }
  
  .notification .text-wrapper-6 {
    color: #ffffff;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-size: 14px;
    font-weight: 600;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 6px;
  }
  
  .notification .text-wrapper-7 {
    color: #ffffff;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-size: 14px;
    font-weight: 600;
    left: 113px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 6px;
  }
  
  .notification .img {
    height: 20px;
    left: 93px;
    object-fit: cover;
    position: absolute;
    top: 5px;
    width: 1px;
  }
  
  .notification .header {
    background-color: transparent;
    height: 63px;
    left: 214px;
    position: absolute;
    top: 157px;
    width: 1085px;
  }
  
  .notification .text-wrapper-8 {
    color: #ffffff;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-size: 13px;
    font-weight: 600;
    left: 1037px;
    letter-spacing: -0.65px;
    line-height: normal;
    position: absolute;
    top: 47px;
  }
  
  .notification .group {
    height: 49px;
    left: 0;
    position: absolute;
    top: 0;
    width: 144px;
  }
  