.security_question {
    background-color: #0070af;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .security_question .div {
    background-color: #0070af;
    border: 1px none;
    height: 982px;
    position: relative;
    width: 1512px;
  }
  
  .security_question .overlap-group {
    background-color: #f2fbfe;
    border-radius: 20px;
    height: 500px;
    left: 201px;
    position: absolute;
    top: 226px;
    width: 1110px;
  }
  
  .security_question .overlap {
    background-image: url(./rectangle-2.svg);
    background-size: 100% 100%;
    height: 68px;
    left: 351px;
    position: absolute;
    top: 327px;
    width: 409px;
  }
  
  .security_question .text-wrapper {
    color: #ffffff;
    font-family: "Asap-SemiBold", Helvetica;
    font-size: 21px;
    font-weight: 600;
    left: 171px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 21px;
    white-space: nowrap;
  }
  
  .security_question .overlap-2 {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #e3e3e3;
    border-radius: 16px;
    height: 76px;
    left: 350px;
    position: absolute;
    top: 153px;
    width: 411px;
  }
  
  .security_question .text-wrapper-2 {
    color: #a0a0a0;
    font-family: "Asap-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    left: 27px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 26px;
    white-space: nowrap;
    width: 212px;
  }
  
  .security_question .vector {
    height: 8px;
    left: 369px;
    position: absolute;
    top: 33px;
    width: 16px;
  }
  
  .security_question .div-wrapper {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #e3e3e3;
    border-radius: 16px;
    height: 76px;
    left: 350px;
    position: absolute;
    top: 240px;
    width: 411px;
  }
  
  .security_question .text-wrapper-3 {
    color: #05347a;
    font-family: "Asap-Medium", Helvetica;
    font-size: 18px;
    font-weight: 500;
    left: 457px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 40px;
    white-space: nowrap;
  }
  
  .security_question .p {
    color: #1b4961;
    font-family: "Asap-Medium", Helvetica;
    font-size: 14px;
    font-weight: 500;
    left: 325px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 95px;
    white-space: nowrap;
    width: 460px;
  }
  
  .security_question .footer {
    background-color: transparent;
    height: 45px;
    left: 220px;
    position: absolute;
    top: 737px;
    width: 1081px;
  }
  
  .security_question .h-1 {
    color: #ffffff;
    font-family: "Montserrat-Medium", Helvetica;
    font-size: 24px;
    font-weight: 500;
    left: 894px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .security_question .text-wrapper-4 {
    color: #ffffff;
    font-family: "Montserrat-MediumItalic", Helvetica;
    font-size: 12px;
    font-style: italic;
    font-weight: 500;
    left: 948px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 30px;
  }
  
  .security_question .text-wrapper-5 {
    color: #ffffff;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-size: 14px;
    font-weight: 600;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 6px;
  }
  
  .security_question .text-wrapper-6 {
    color: #ffffff;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-size: 14px;
    font-weight: 600;
    left: 113px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 6px;
  }
  
  .security_question .line {
    height: 20px;
    left: 93px;
    object-fit: cover;
    position: absolute;
    top: 5px;
    width: 1px;
  }
  
  .security_question .header {
    background-color: transparent;
    height: 63px;
    left: 214px;
    position: absolute;
    top: 157px;
    width: 1085px;
  }
  
  .security_question .text-wrapper-7 {
    color: #ffffff;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-size: 13px;
    font-weight: 600;
    left: 1037px;
    letter-spacing: -0.65px;
    line-height: normal;
    position: absolute;
    top: 47px;
  }
  
  .security_question .group {
    height: 49px;
    left: 0;
    position: absolute;
    top: 0;
    width: 144px;
  }
  