




<div class="sso-sidebar">
    <nav class="sidebar locked">
        <div class="logo_items flex">
          <span class="nav_image">
            <img src="images/img.png" alt="logo_img" />
          </span>
          <span class="logo_name">Burgan</span>
          <i class="bx bx-lock-alt" id="lock-icon" title="Unlock Sidebar"></i>
          <i class="bx bx-x" id="sidebar-close"></i>
        </div>
  
        <div class="menu_container">
          <div class="menu_items">
            <ul class="menu_item">
              <li class="item">
                <a href="#" class="link flex">
                  <i class="bx bx-home-alt"></i>
                  <span>Hesaplar</span>
                </a>
              </li>
              <li class="item">
                <a href="#" class="link flex">
                  <i class="bx bx-grid-alt"></i>
                  <span>Para Transferi</span>
                </a>
              </li>
            </ul>
            <ul class="menu_item">
              <li class="item">
                <a href="#" class="link flex">
                  <i class="bx bxs-magic-wand"></i>
                  <span>Ödemeler</span>
                </a>
              </li>
              <li class="item">
                <a href="#" class="link flex">
                  <i class="bx bx-folder"></i>
                  <span>Kartlar</span>
                </a>
              </li>
              <li class="item">
                <a href="#" class="link flex">
                  <i class="bx bx-cloud-upload"></i>
                  <span>Yatırımlar</span>
                </a>
              </li>
            </ul>
            <ul class="menu_item">
              <li class="item">
                <a href="#" class="link flex">
                  <i class="bx bx-flag"></i>
                  <span>BurganFX</span>
                </a>
              </li>
              <li class="item">
                <a href="#" class="link flex">
                  <i class="bx bx-award"></i>
                  <span>Krediler</span>
                </a>
              </li>
            </ul>
          </div>
  
          <div class="sidebar_profile flex">
            <span class="nav_image">
              <img src="images/img.png" alt="logo_img" />
            </span>
            <div class="data_text">
              <span class="name">Ozan Deniz Demirtaş</span>
              <span class="email">ozan@gmail.com</span>
            </div>
          </div>
        </div>
      </nav>
</div>